---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}

    <ul class="share-buttons">
      <li>
        <a href="https://bsky.app/intent/compose?text={{ page.title | uri_escape }}%20{{ site.url }}{{ page.url }}" target="_blank">
          <i class="fa-brands fa-bluesky"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url }}{{ page.url }}" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&url={{ site.url }}{{ page.url }}" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
      </li>
      <li>
        <a href="http://www.reddit.com/submit?url={{ site.url | uri_escape }}{{ page.url | uri_escape }}&title={{ page.title | uri_escape }}" target="_blank" title="Submit to Reddit">
          <i class="fa-brands fa-reddit-alien"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank" title="Share on Facebook">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
      </li>
    </ul>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

